/* --- VARIABLES --- */

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #FFFFFF;
        --main-accent-color: #F7F7F7;

        --main-text-color: #1C1C1C;
        --main-text-accent-color: #88909F;

        --theme-color: #eaeaea;
        --main-interactible-color: var(--bs-gray-dark);

        --theme-shadow-color: rgba(0, 0, 0, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {

        --main-color: #202125;
        --main-accent-color: #2A2B2F;

        --main-text-color: #FFFFFF;
        --main-text-accent-color: #858C9B;

        --theme-color: #1C1C1C;
        --main-interactible-color: #A5A1F8;

        --theme-shadow-color: rgba(255, 255, 255, 0.1);
    }
}

@font-face {
    font-family: "Lato";
    src: url(/static/assets/fonts/Lato.ttf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(/static/assets/fonts/JetBrainsMono.ttf);
}

:root {
    --main-text-font: 700 16px "Poppins", sans-serif;
    --main-text-accent-font: 20px "Lato", sans-serif;
    --main-code-block-font: 20px "JetBrains Mono", sans-serif;

    --border-width: 2px;
    --main-border: var(--border-width) solid var(--main-accent-color);

    --transition-duration: 0.3s;
    --main-transition: ease-in-out var(--transition-duration);
}

@media (prefers-reduced-motion: reduce) {
    * {
        --transition-duration: 0s !important;
    }
}

body {
    background-color: var(--main-color);
}

/* --- HEADER --- */

#Header {
    transition: all 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    border-bottom: var(--main-border);
}

#Header .logo img {
    width: 6.6rem;
    height: 2.2rem;
}

#SharedBodyWrapper {
    margin-top: 5rem;
}

/* --- NAV BAR --- */

.navbar {
    padding: 0;
    right: 0;
}

.navbar .mobile-navbar-only {
    display: none;
}

.navbar #NavBarList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    letter-spacing: 0.3px;
    font: var(--main-text-font);
    color: var(--main-text-accent-color);
    white-space: nowrap;
    transition: var(--transition-duration);
}

.navbar .nav-icon {
    font-size: 12px;
    line-height: 0;
    scale: 2;
}

.navbar .nav-icon-text {
    display: none;
}

.navbar a:hover,
.navbar li:hover>a,
.navbar .active,
.navbar .active {
    color: var(--main-interactible-color);
}

#MobileNavBarOpen {
    position: absolute;
    color: var(--main-text-accent-color);
    font-size: 28px;
    cursor: pointer;
    margin-top: 7.5px;
    margin-right: 15px;
    display: none;
    top: 15px;
    right: 15px;
}

#MobileNavBarOpen:hover,
#MobileNavBarOpen:active {
    color: var(--main-interactible-color);
}

#MobileNavBarOpen.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    #MobileNavBarOpen {
        display: block;
    }
    .navbar #NavBarList {
        display: none;
    }
}

#MobileNavBarClose {
    color: var(--main-text-accent-color);
    text-align: right;
}

#MobileNavBarClose:hover,
#MobileNavBarClose:hover {
    color: var(--main-interactible-color);
}

.mobile-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transition: background var(--main-transition);
}

.mobile-navbar[expanded='true'] {
    background: rgba(0, 0, 0, 0.3);
}

.mobile-navbar #NavBarList {
    position: absolute;
    top: 17.5px;
    bottom: 0;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-color);
    overflow-y: scroll;
}

.mobile-navbar li {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.mobile-navbar a {
    font: var(--main-text-font);
    color: var(--main-text-accent-color);
    white-space: nowrap;
    transition: var(--transition-duration);
    border-bottom: solid var(--main-accent-color) 2px;
}

.mobile-navbar a:hover,
.mobile-navbar a:hover {
    color: var(--main-interactible-color);
}

.mobile-navbar #NavBarList li:last-child a {
    border-bottom: none;
}

.mobile-navbar .nav-icon {
    scale: 1.3;
}

.mobile-navbar .nav-icon-text {
    margin-left: 7.5px;
}

/* --- DOCUMENTATION SEARCH --- */

#DocumentationSearchInput {
    position: relative;
    font-size: 0.875rem;
    border-radius: 0.8rem;
    padding-right: 2.6rem;
    padding-left: 1.5rem;
    height: 2.5rem;
    transition-duration: 0.15s;

    border-color: solid var(--main-accent-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--main-text-accent-color);
    background-color: white;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, scale ease-in-out;
}

/* --- COPYRIGHT --- */

#CopyrightSection {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: var(--main-text-accent-color);
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity ease-in 0.15s;
}

#CopyRightIcon {
    color: var(--main-interactible-color);
}

#CopyrightLink {
    color: var(--main-interactible-color);
    font-weight: bold;
    text-decoration: none;
}

/* --- UTILITIES --- */

.autocomplete-form .dropdown-menu {
    background: var(--main-text-color) !important;
    width: 85%;
    margin-left: 7.5%;
    border-radius: 0 0 0.3rem 0.3rem;
    border: 2px solid var(--main-text-accent-color);
    margin-top: -2px !important;
}

.autocomplete-form .dropdown-menu .dropdown-item {
    font: var(--main-text-accent-font);
    font-size: 0.9rem;
    color: var(--main-text-accent-color)
}

.autocomplete-form .dropdown-menu .dropdown-item:is(.active),
.autocomplete-form .dropdown-menu .dropdown-item:active {
    color: var(--main-interactible-color);
    background-color: rgba(0, 0, 0, 0.1);
}