:root {
    scroll-behavior: smooth;

    --bs-small: 576px;
    --bs-medium: 768px;
    --bs-large: 992px;
    --bs-extra-large: 1200px;
}

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    zoom: 100%;
}

a {
    text-decoration: none !important;
}

.debug {
    color: white !important;
    background-color: red !important;
}

.on-top {
    z-index: 0;
}

.hide-horizontal-scroll {
    overflow-x: hidden;
}

.hide-vertical-scroll {
    overflow-y: hidden;
}

.section {
    width: 100%;
}

.link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.clickable:hover {
    cursor: pointer;
}