<!DOCTYPE html>
<html lang="en">
<style>
    {% block style %}{% endblock %}
</style>
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ base_title }}</title>
    <meta name="author" content="{{ base_author }}">
    <meta name="description" content="{{ base_description }}">

    {% for css_file in base_css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
    {% endfor %}

    {% block head %}{% endblock %}
</head>
<body>
    <script src="{{ url_for('static', filename='dependencies/jquery/js/jquery.js') }}"></script>
    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='base/base.js') }}"></script>
    {% for js_file in base_js_files %}
        <script src="{{ url_for('static', filename=js_file) }}"></script>
    {% endfor %}
</body>
</html>
